version: '3.8'

services:
  frontend:
    build:
      context: .
    ports:
      - "80:80"
      - "443:443"
    container_name: my-frontend-v2
    restart: always
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
